
.button {

    border-radius: $border-radius;
    padding: 7px 15px;
    color: $white;

    &--green {

        background-color: $green;
        border: 2px solid $green;

        &:hover,
        &:active {
            background-color: darken($green, 7.5%);
            border-color: darken($green, 7.5%);
        }

    }

    &--blue {

        background-color: $blue;
        border: 2px solid $blue;

        &:hover,
        &:active {
            background-color: darken($blue, 7.5%);
            border-color: darken($blue, 7.5%);
        }

    }

}
